#color-selector-container {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay[modal-open="false"] {
  display: none;
}

.color-selector-opener {
  display: flex;
  place-items: center;
  position: fixed;
  right: 0;
  top: 30%;
  padding: 4px;
  background-color: var(--selected-color);
  z-index: 1;
  cursor: pointer;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.color-selector-opener .icon {
  width: 35px;
  aspect-ratio: 1/1;
  animation: rotater infinite 3s linear;
}

.color-dialog {
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc((5 * 60px) + (1 * 1rem));
  padding: 10px;
  border: 1px solid transparent;
  background-color: #202020;
}

.color-items {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.color-item {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 2px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.dialog-header {
  margin-bottom: 1rem;
}

.dialog-header h5 {
  color: var(--white);
}

@media (hover: hover) and (pointer: fine) {
  .color-item {
    transition: transform 0.2s ease-in-out;
  }

  .color-item:hover {
    transform: scale(1.05);
  }

  .color-selector-opener:hover {
    transform: translate(1.7);
  }
}

@media screen and (min-width: 768px) {
  .color-dialog {
    width: 50vw;
  }
}

@keyframes rotater {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
