<!-- <a class="link-button" *ngIf="link;else elseTemplate" [href]="link">
  <button
    type="button"
    [ngClass]="class"
    [disabled]="disabled"
    [attr.button-type]="buttonType"
    [class]="customClass"
    (click)="onClick($event)"
  >
    <div class="icon-container">
      <ng-container
        *ngComponentOutlet="
    svgComponent;
    inputs:{fill:'dynamic'}
    "
      ></ng-container>
    </div>
    <div class="text-container">
      <ng-content></ng-content>
    </div></button
></a> -->
<!-- <button
  type="button"
  [ngClass]="class"
  [disabled]="disabled"
  [attr.button-type]="buttonType"
  [class]="customClass"
  (click)="onClick($event)"
>
  <div class="icon-container">
    <ng-container
      *ngComponentOutlet="
    svgComponent;
    inputs:{fill:'dynamic'}
    "
    ></ng-container>
  </div>
  <div class="text-container">
    <ng-content></ng-content>
  </div>
</button> -->

<a
  *ngIf="link"
  class="button link-button"
  [href]="link"
  [download]="download"
  [ngClass]="class"
  [attr.button-type]="buttonType"
  [class]="customClass"
  (click)="onClick($event)"
>
  <div class="icon-container">
    <ng-container
      *ngComponentOutlet="
  svgComponent;
  inputs:{fill:'dynamic'}
  "
    ></ng-container>
  </div>
  <div class="text-container">{{text}}</div></a
>

<button
  *ngIf="!link"
  type="button"
  class="button"
  [ngClass]="class"
  [disabled]="disabled"
  [attr.button-type]="buttonType"
  [class]="customClass"
  (click)="onClick($event)"
>
  <div class="icon-container">
    <ng-container
      *ngComponentOutlet="
    svgComponent;
    inputs:{fill:'dynamic'}
    "
    ></ng-container>
  </div>
  <div class="text-container">{{text}}</div>
</button>
