@import "./shared.scss";
@import "./root.scss";

@mixin reset-input() {
  appearance: none;
  border: none;
  outline: transparent;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  @include reset-input();
  padding: 1ch;
  border-radius: $border-radius;
  background-color: lighten(#001f1c, 2%);
  caret-color: $white;
  font-size: 1em;
  color: $gray-200;
  position: relative;
}

textarea {
  @include reset-input();
  padding: 1ch;
  border-radius: $border-radius;
  background-color: lighten(#001f1c, 2%);
  caret-color: $white;
  font-size: 1em;
  color: $gray-200;
  font-family: $font-face-1;
  resize: vertical;
  min-height: 120px;
}
