$border-radius: 10px;
$container-back-color: #001f1c;

@mixin item-wrapper {
  border-radius: $border-radius;
}

@mixin container-style($back-color: #001f1c) {
  background-color: hsl(240, 88%, 10%);
  border-radius: $rad;
  padding: 15px;
}
