<nav id="page-navigation">
  <div class="icon-container">
    <ils app-icon class="brand-icon"></ils>
  </div>
  <div class="wrapper">
    <div class="nav-item-container">
      <a href="#about-section">
        <div class="nav-item"><ils user class="nav-item-icon"></ils></div>
      </a>

      <a href="#contact-section">
        <div class="nav-item"><ils dial class="nav-item-icon"></ils></div>
      </a>
    </div>
    <button id="cv-button" #downloadBtn>
      <div class="btn-text">CV</div>
    </button>
  </div>
</nav>
