<nav id="page-navigation">
  <div class="icon-container">
    <img
      src="assets/svg/app-icon.svg"
      class="brand-icon"
      alt=""
      loading="lazy"
    />
  </div>
  <div class="wrapper">
    <div class="nav-item-container">
      <a href="#about-section" class="nav-item" data-intersected="about">
        <img
          src="assets/svg/user-icon.svg"
          class="nav-item-icon"
          alt=""
          loading="lazy"
        />
      </a>
      <a href="#contact-section" class="nav-item" data-intersected="contact">
        <img
          src="assets/svg/dial-icon.svg"
          class="nav-item-icon"
          alt=""
          loading="lazy"
        />
      </a>
      <div class="nav-item" dropdown-directive>
        <img
          src="assets/svg/translate.svg"
          class="nav-item-icon"
          alt=""
          loading="lazy"
        />
        <ul class="nav-item-dropdown dropdown">
          @for(lang of languageList; track $index){
          <li
            class="dropdown-item"
            [attr.value]="lang.value"
            (click)="changeLanguage($event)"
          >
            {{ lang.language }}
          </li>

          }
        </ul>
      </div>
    </div>
    <button id="cv-button" #downloadBtn>
      <div class="btn-text">CV</div>
    </button>
  </div>
</nav>
