#navbar {
  padding-block: 20px;
  background-color: var(--dark-background);
  grid-column: 1/-1;
  grid-row: 1/2;
}

#logo-wrapper {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--selected-color);
}

.navbar-inner {
  grid-column: 1/-1;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin-inline: auto;
}

#sidebar-interact-icon {
  display: block;
  width: 30px;
  aspect-ratio: 1/1;
}

#navigation-items-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation-items-side {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

#navigation-items-container .navigation-items-fixed {
  display: none;
}

.navigation-items-fixed .navigation-item {
  font-size: 1.08em;
  font-weight: 450;
  color: var(--gray-200);
}

.navigation-items-side .navigation-item {
  font-size: 1em;
  font-weight: 500;
}

#sidebar-navigation-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 10;
  background-color: rgba(12, 12, 12, 0.5);
}

#sidebar-navigation-container #sidebar {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: fit-content;
  height: 100%;
  margin-left: auto;
  padding: 0.5rem 0.75rem;
  background-color: #212121;
  gap: 0.75rem;
}

#sidebar .sidebar-row:nth-child(2) {
  flex-grow: 1;
}

.navigation-items-side {
  flex-direction: column;
  gap: 0.5rem;
}

.navigation-items-side li {
  width: 100%;
  padding: 0.5ch;
  border-radius: 4px;
}

.navbar-inner.sidebar-open #navigation-items-container .navigation-items-fixed {
  display: none;
}

.navbar-inner.sidebar-open #sidebar-interact-icon {
  display: block;
}

.navbar-inner.navbar-inner.sidebar-open #sidebar-navigation-container {
  display: block;
}

@media (hover: hover) and (pointer: coarse) {
  .navigation-items-side li {
    transition: background-color 0.1s;
  }

  .navigation-items-side li:active {
    background-color: #363636;
  }
}

@media (hover: hover) and (pointer: fine) {
  .navigation-items-side li {
    outline-color: transparent;
    transition: outline 0.1s;
  }
  .navigation-items-side li:hover {
    outline: 2px solid #393939;
  }

  .navigation-items-side li:active {
    outline: 2px solid #5b5b5b;
  }
}

li a {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .navbar-inner.navbar-inner.sidebar-open #sidebar-navigation-container,
  #sidebar-navigation-container {
    display: none;
  }

  .navbar-inner.navbar-inner.sidebar-open #sidebar-interact-icon,
  #sidebar-interact-icon {
    display: none;
  }

  .navbar-inner.sidebar-open
    #navigation-items-container
    .navigation-items-fixed,
  #navigation-items-container .navigation-items-fixed {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
}
