#personal-section .navigate-header {
  grid-column: 1/-1;
}

#personal-section.layout {
  display: grid;
  grid-template-rows: auto;
  row-gap: 3rem;
}

#personal-info {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: auto;
  grid-row: 2/-1;
  grid-column: 1/-1;
  row-gap: 1rem;
}

/* #personal-info .image-wrapperrr {
  grid-column: 1/-1;
  grid-row: 1/2;
} */

#personal-info #intro {
  grid-column: 1/-1;
  grid-row: 1/2;
}

#personal-info #info {
  grid-column: 1/-1;
  grid-row: 2/3;
}

#landing-section .image-wrapperrr {
  width: 100%;
}

#info ul,
#intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: min-content;
}

.icon {
  aspect-ratio: initial;
  width: min-content;
}

@media screen and (min-width: 576px) {
}
