#personal-section {
  /* background-color: #191919; */
  width: 100%;
  padding-block: 1.5rem;
}

#me {
  position: relative;
}

#me-wrapper img {
  width: 100%;
}

#me-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  width: 60%;
  aspect-ratio: 1/1;
  top: -8px;
  left: -8px;
  z-index: -1;
  background-color: var(--selected-color);
}

#personal-section .section-inner .navigate-header {
  grid-column: 1/-1;
  grid-row: 1/2;
}

#personal-section .section-inner #personal-info {
  grid-column: 1/-1;
  grid-row: 2/3;
}

#personal-section .section-inner.layout {
  row-gap: 3rem;
}

#personal-section.layout .section-inner {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  row-gap: 3rem;
}

#personal-info {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: auto;
  grid-row: 2/-1;
  grid-column: 1/-1;
  gap: 1.5rem;
}

#info-intro-wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  row-gap: 1rem;
}

#personal-info #intro {
  grid-column: 1/-1;
  text-align: left;
}

#personal-info #info {
  grid-column: 1/-1;
}

#info ul,
#intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

#info ul {
  margin-inline: auto;
  width: max-content;
  justify-content: center;
}

li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: min-content;
}

.icon {
  aspect-ratio: initial;
  width: 0.9em;
}

#deneme {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

#personal-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#personal-image-wrapper > * {
  width: calc(100% - 125px);
}

/* #personal-image-wrapper img,
#personal-image-wrapper .button-group {
} */

.info-item {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 0.5rem;
}

.info-item .info-label {
  position: relative;
  width: 8ch;
}

.info-item .info-label::before {
  position: absolute;
  content: ":";
  right: -5px;
}

.button-group {
  display: flex;
  gap: 0.5rem;
}

.linkedin-btn {
  border-color: #0077b5;
  background-color: #0077b5;
  color: var(--white);
}

@media screen and (min-width: 576px) {
  #info ul {
    flex-direction: row;
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  #info-intro-wrapper {
    grid-column: 4/9;
  }

  #info-intro-wrapper h4,
  #info-intro-wrapper p {
    text-align: left;
  }

  #info ul {
    margin-inline: 0;
    justify-content: flex-start;
  }

  /**/

  #deneme {
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: left;
    align-items: flex-start;
  }

  #personal-image-wrapper > * {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  #info-intro-wrapper {
    grid-column: 5/13;
    grid-row: 1/2;
  }

  #deneme {
    grid-column: 1/5;
  }

  #info {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
  }
}
