<section id="personal-section" class="layout">
  <h3 class="navigate-header h3">Who am I?</h3>
  <div id="section-content">
    <div class="personal-image-wrapper">
      <img class="personal-image" src="assets/images/1-1.png" alt="" />
    </div>
    <div class="personal-article-container">
      <article>
        {{ me.intro }}
      </article>
    </div>
    <div class="personal-details-container">
      <ul id="personal-details">
        <li *ngFor="let item of me.personalInfo">
          {{ item.attribute }}
        </li>
      </ul>
    </div>

    <div class="characteristics-container">
      <div class="characterstic">
        <img
          class="characteristic-icon"
          src="assets/svg/intelligent.svg"
          alt=""
        />
      </div>
      <div class="characterstic">
        <img
          class="characteristic-icon"
          src="assets/svg/result-oriented.svg"
          alt=""
        />
      </div>
      <div class="characterstic">
        <img
          class="characteristic-icon"
          src="assets/svg/problem-solving.svg"
          alt=""
        />
      </div>
      <div class="characterstic">
        <img
          class="characteristic-icon"
          src="assets/svg/curiosity.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
