<section id="about-section" data-intersect="about">
  <div class="section-heading">
    <div class="icon-container">
      <img src="assets/svg/user-icon.svg" alt="" />
    </div>
    <h3 class="heading-text text-md weight-700">
      {{ "sectionHeaders.about_me_header" | translate }}
    </h3>
  </div>

  <div id="detail-container">
    <div id="me">
      <img src="assets/images/1-1.png" alt="" id="my-img" />

      <div class="name-container">
        <h4 class="text-lg">Samet Sarıçiçek</h4>
        <h5 class="text-bs weight-600 csx">
          Software Engineer, <br />
          Web Developer
        </h5>
      </div>
    </div>
    <div class="quote-container generic-container">
      <blockquote class="text-bs">
        {{ dataService.personalData.selectedQuote.quote }}
      </blockquote>
      <span class="quote-author text-sm weight-500">{{
        dataService.personalData.selectedQuote.author
      }}</span>
    </div>
    <div class="personal-info-containers-container">
      <div class="personal-info-container">
        <div class="info-item-container">
          <div class="info-shape"></div>
          <h4 class="text-md info-text wieght-600">
            {{ "headings.details" | translate }}
          </h4>
        </div>
        <ul class="info-list-container">
          <li class="info-item-container outlined">
            <div class="info-shape"></div>
            <p class="text-bs weight-400 info-text">
              {{ dataService.personalData.location }}
            </p>
          </li>
        </ul>
      </div>
      <div class="personal-info-container education-container">
        <div class="info-item-container">
          <div class="info-shape"></div>
          <h4 class="text-md info-text wieght-600">
            {{ "headings.education" | translate }}
          </h4>
        </div>
        <ul class="info-list-container">
          <li
            class="special-item"
            *ngFor="let education of dataService.personalData.educations"
          >
            <div class="item-icon">
              <img src="assets/svg/graduation-icon.svg" class="icon" alt="" />
            </div>
            <div class="item-content">
              <p class="text-bs weight-700">{{ education.school }}</p>
              <span class="text-sm weight-600"
                >{{ education.startYear }}-{{ education.endYear }}</span
              >
            </div>
          </li>
        </ul>
      </div>
      <div class="personal-info-container">
        <div class="info-item-container">
          <div class="info-shape"></div>
          <h4 class="text-md info-text wieght-600">
            {{ "headings.hobies" | translate }}
          </h4>
        </div>
        <ul class="info-list-container">
          <li
            class="info-item-container outlined"
            *ngFor="let hoby of dataService.personalData.hobies"
          >
            <div class="info-shape"></div>
            <p class="text-bs weight-400 info-text">{{ hoby }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="information-container">
    <div class="personal-info-container">
      <div class="info-item-container">
        <div class="info-shape"></div>
        <h4 class="text-md info-text wieght-600">
          {{ "headings.background" | translate }}
        </h4>
      </div>
      <p class="text-bs">
        {{ dataService.personalData.background }}
      </p>
    </div>
    <div class="personal-info-container">
      <div class="info-item-container">
        <div class="info-shape"></div>
        <h4 class="text-md info-text wieght-600">
          {{ "headings.experience" | translate }}
        </h4>
      </div>
      <div
        class="experienced-job-container generic-container-10"
        *ngFor="let experience of dataService.personalData.experiences"
      >
        <div class="experienced-job-header">
          <img src="assets/svg/assembler.svg" class="job-icon" alt="" />
          <div class="experienced-job-title">
            <h4 class="text-md">{{ experience.title }}</h4>
            <span class="job-detail text-bs">
              <span class="weight-600">{{ experience.companyName }} </span>
              <span
                >{{ experience.startDate | date : "MM/YY" }}-{{
                  experience.endDate | date : "MM/YY"
                }}</span
              >
            </span>
          </div>
        </div>
        <p class="text-bs">
          {{ experience.explanation }}
        </p>
      </div>
    </div>
    <div class="personal-info-container skills-container">
      <div class="info-item-container">
        <div class="info-shape"></div>
        <h4 class="text-md info-text wieght-600">
          {{ "headings.skills" | translate }}
        </h4>
      </div>
      <ul class="info-list-container skill-items" style="padding: 0">
        <li
          class="special-item skill-item"
          *ngFor="let skill of dataService.personalData.skills"
        >
          <div class="item-icon">
            <img
              [src]="skill.iconSrc"
              [alt]="skill.skillName + '-icon'"
              class="icon"
            />
          </div>
          <div class="item-content">
            <p class="text-bs weight-700">{{ skill.skillName }}</p>
            <span class="text-sm weight-600">{{ skill.percent | level }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
