@use "sass:math";

@import "util.style";
@import "root.style";
@import "responsive.style";

:host,
#about-section {
  @include grid(subgrid, 0);
  grid-column: 1/-1;
  row-gap: 0.5rem;
}

#detail-container,
#information-container {
  position: relative;
  grid-column: 1/-1;
  @include flex(column, 2rem, center, flex-start);
  margin-bottom: 2rem;
}

#me {
  @include flex(column, 1rem, center, flex-start);
}

#my-img {
  width: 75%;
  margin-inline: auto;
  border-radius: 50%;

  box-shadow: $shadow-medium;
}

.name-container {
  text-align: center;
}

.info-list-item {
  @include flex(row, 5px, center, flex-start);
  margin-left: 10px;
}

.list-icon {
  $size: 15px;
  width: $size;
  height: $size;
  border-radius: 50px;
  background-color: $base-orange;
}

.quote-container {
  @include flex(column, 0.5rem, flex-start);
  text-align: left;
  width: 100%;
  max-width: 502px;
  color: $white-tint-1;

  box-shadow: $shadow-medium;

  & .quote-author {
    align-self: flex-end;
  }
}

.experienced-job-container {
  @include flex(column, 0.75rem, flex-start, flex-start);
  width: fit-content;

  & .text-bs {
    color: darken($white-tint-1, 20);
  }
}

.experienced-job-container .experienced-job-header {
  @include flex(row, 0.5rem, center, flex-start);

  & .job-icon {
    align-self: flex-start;
    width: 45px;
  }

  & .experienced-job-title {
    & .text-md {
      color: $white-tint-1;
    }

    & .job-detail {
      & span:first-child {
        color: $base-orange;
      }
      & span:nth-child(2) {
        color: darken($base-white, 30);
      }
    }
  }
}

.skill-container {
  width: 100%;
  @include flex(row, 0.75rem, center, flex-start);

  & .skill-icon {
    width: 40px;
  }

  & .text-md {
    color: $white-tint-1;
  }

  & .text-bs {
    color: $base-orange;
  }
}

.skills-holder {
  @include flex(column, 0.5rem);
}

.skill-items .special-item .item-content span {
  color: $base-orange;
}

p {
  max-width: 80ch;
}

.skills-container,
.education-container {
  align-self: flex-start;
  max-width: 80ch;
}

#information-container:before {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  left: 0;
  top: 0;
  z-index: 10;
}

@media screen and (min-width: $media-tablet-width) {
  :host,
  #about-section {
    @include grid(subgrid, 0);
    grid-column: 1/-1;
    row-gap: 0.5rem;
  }

  #my-img {
    border-radius: 8px;
  }

  .section-header {
    grid-row: 1/2;
  }

  #detail-container,
  #information-container {
    grid-row: 2/3;
  }

  #detail-container {
    grid-column: 1/4;
  }

  #information-container {
    grid-column: 4/9;

    &:before {
      $divider-width: 2px;
      $gap: 20px;

      content: "";
      position: absolute;
      width: $divider-width;
      height: 100%;
      background-color: $black-tint-2;
      left: -11px;
      top: 0;
      border-radius: 10px;
      z-index: 0;
    }
  }
}

@media screen and (min-width: $media-desktop-width) {
  :host,
  #about-section {
    grid-column: 1/-1;
  }

  #detail-container {
    grid-column: 1/5;
  }

  #information-container {
    grid-column: 5/16;
  }

  #my-img {
    width: 100%;
    margin-inline: auto;
    border-radius: 50%;

    box-shadow: $shadow-medium;
  }
}
