<section id="about-section">
  <shared heading headerText="About Me" class="section-header">
    <ils user slot="icon"></ils>
  </shared>
  <div id="detail-container">
    <div id="me">
      <img src="assets/images/1-1.png" alt="" id="my-img" />

      <div class="name-container">
        <h4 class="text-lg">Samet Sarıçiçek</h4>
        <h5 class="text-md weight-600">
          Software Engineer, <br />
          Web Developer
        </h5>
      </div>
    </div>
    <div class="quote-container generic-container">
      <blockquote class="text-md">
        "We are not made to be confined to narrow places."
      </blockquote>
      <span class="quote-author text-bs weight-500">Seneca</span>
    </div>
    <div class="personal-info-containers-container">
      <div class="personal-info-container">
        <div class="info-item-container">
          <div class="info-shape"></div>
          <h4 class="text-lg info-text wieght-600">Details</h4>
        </div>
        <ul class="info-list-container">
          <li class="info-item-container outlined">
            <div class="info-shape"></div>
            <p class="text-bs weight-400 info-text">Ncosia/Cyprus</p>
          </li>
        </ul>
      </div>
      <div class="personal-info-container education-container">
        <div class="info-item-container">
          <div class="info-shape"></div>
          <h4 class="text-lg info-text wieght-600">Education</h4>
        </div>
        <ul class="info-list-container">
          <li class="special-item">
            <div class="item-icon">
              <svg
                width="28"
                height="22"
                viewBox="0 0 28 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M27 6.57143L14 1L1 6.57143L14 12.1429L27 6.57143ZM27 6.57143V14.9286V6.57143Z"
                  fill="#ededed"
                />
                <path
                  d="M27 6.57143L14 1L1 6.57143L14 12.1429L27 6.57143ZM27 6.57143V14.9286"
                  stroke="#ededed"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.2002 8.7998V16.3212C6.2002 17.4295 7.02198 18.4923 8.48476 19.2759C9.94755 20.0596 11.9315 20.4998 14.0002 20.4998C16.0689 20.4998 18.0528 20.0596 19.5156 19.2759C20.9784 18.4923 21.8002 17.4295 21.8002 16.3212V8.7998"
                  fill="#ededed"
                />
                <path
                  d="M6.2002 8.7998V16.3212C6.2002 17.4295 7.02198 18.4923 8.48476 19.2759C9.94755 20.0596 11.9315 20.4998 14.0002 20.4998C16.0689 20.4998 18.0528 20.0596 19.5156 19.2759C20.9784 18.4923 21.8002 17.4295 21.8002 16.3212V8.7998"
                  stroke="#ededed"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="item-content">
              <p class="text-md weight-700">Bülent Ecevit Anadolu Lisesi</p>
              <span class="text-bs weight-600">2015-2019</span>
            </div>
          </li>
          <li class="special-item">
            <div class="item-icon">
              <svg
                width="28"
                height="22"
                viewBox="0 0 28 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M27 6.57143L14 1L1 6.57143L14 12.1429L27 6.57143ZM27 6.57143V14.9286V6.57143Z"
                  fill="#ededed"
                />
                <path
                  d="M27 6.57143L14 1L1 6.57143L14 12.1429L27 6.57143ZM27 6.57143V14.9286"
                  stroke="#ededed"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.2002 8.7998V16.3212C6.2002 17.4295 7.02198 18.4923 8.48476 19.2759C9.94755 20.0596 11.9315 20.4998 14.0002 20.4998C16.0689 20.4998 18.0528 20.0596 19.5156 19.2759C20.9784 18.4923 21.8002 17.4295 21.8002 16.3212V8.7998"
                  fill="#ededed"
                />
                <path
                  d="M6.2002 8.7998V16.3212C6.2002 17.4295 7.02198 18.4923 8.48476 19.2759C9.94755 20.0596 11.9315 20.4998 14.0002 20.4998C16.0689 20.4998 18.0528 20.0596 19.5156 19.2759C20.9784 18.4923 21.8002 17.4295 21.8002 16.3212V8.7998"
                  stroke="#ededed"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="item-content">
              <p class="text-md weight-700">Bülent Ecevit Anadolu Lisesi</p>
              <span class="text-bs weight-600">2015-2019</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="personal-info-container">
        <div class="info-item-container">
          <div class="info-shape"></div>
          <h4 class="text-lg info-text wieght-600">Hobies</h4>
        </div>
        <ul class="info-list-container">
          <li class="info-item-container outlined">
            <div class="info-shape"></div>
            <p class="text-bs weight-400 info-text">Hiking</p>
          </li>
          <li class="info-item-container outlined">
            <div class="info-shape"></div>
            <p class="text-bs weight-400 info-text">Reading Book</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="information-container">
    <div class="personal-info-container">
      <div class="info-item-container">
        <div class="info-shape"></div>
        <h4 class="text-lg info-text wieght-600">Background</h4>
      </div>
      <p class="text-bs">
        As a curious and skilled engineer with a strong desire to learn new
        things in the field of software, I am constantly seeking opportunities
        to enhance my knowledge and skills. My engineering background has
        provided me with a solid foundation in software development principles,
        and I am particularly interested in pursuing a Front-End Developer
        position where I can utilize my talents to create user-centric and
        visually appealing web applications.
      </p>
    </div>
    <div class="personal-info-container">
      <div class="info-item-container">
        <div class="info-shape"></div>
        <h4 class="text-lg info-text wieght-600">Experience</h4>
      </div>
      <div class="experienced-job-container generic-container-10">
        <div class="experienced-job-header">
          <ils assembler class="job-icon"></ils>
          <div class="experienced-job-title">
            <h4 class="text-md">Frontend Developer</h4>
            <span class="job-detail text-bs">
              <span class="weight-600">Near East Technology </span>
              <span>07/23-10/23</span>
            </span>
          </div>
        </div>
        <p class="text-bs">
          During my internship at Near East Technology, I gained firsthand
          experience of how a software company operates and its general
          processes. My role involved developing the front-end of assigned
          projects and ensuring seamless connections. Over the course of my
          3-month internship, I acquired proficiency in JavaScript, HTML, CSS,
          and various frameworks.
        </p>
      </div>
    </div>
    <div class="personal-info-container skills-container">
      <div class="info-item-container">
        <div class="info-shape"></div>
        <h4 class="text-lg info-text wieght-600">Skills</h4>
      </div>
      <ul class="info-list-container skill-items" style="padding: 0">
        <li class="special-item">
          <div class="item-icon">
            <ils angular class="icon"></ils>
          </div>
          <div class="item-content">
            <p class="text-md weight-700">Angular</p>
            <span class="text-bs weight-600">Beginner</span>
          </div>
        </li>
        <li class="special-item">
          <div class="item-icon">
            <ils angular class="icon"></ils>
          </div>
          <div class="item-content">
            <p class="text-md weight-700">Angular</p>
            <span class="text-bs weight-600">Beginner</span>
          </div>
        </li>
        <li class="special-item">
          <div class="item-icon">
            <ils angular class="icon"></ils>
          </div>
          <div class="item-content">
            <p class="text-md weight-700">Angular</p>
            <span class="text-bs weight-600">Beginner</span>
          </div>
        </li>
        <li class="special-item">
          <div class="item-icon">
            <ils angular class="icon"></ils>
          </div>
          <div class="item-content">
            <p class="text-md weight-700">Angular</p>
            <span class="text-bs weight-600">Beginner</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
