@import "util.style";
@import "root.style";
@import "responsive.style";

$social-colors: (
  instagram: #405de6,
  linkedin: #0077b5,
  facebook: #4267b2,
  whatsapp: #25d366,
  github: #2b3137,
);

:host,
#contact-section {
  grid-column: 1/-1;
  @include grid(subgrid, 0);
}

#outro-holder {
  display: block;
  grid-column: 1/-1;
  @include flex(column, 0.875rem, flex-start, flex-start);
  margin-bottom: 5rem;

  & .content {
    max-width: 80ch;
  }
}

.social-link-container {
  @include flex(row, 1rem, center, flex-start);
  width: 100%;

  & .social-link-item {
    @include flex(row, 1rem, center, center);
    border-radius: 50%;
    padding: 15px;
    background-color: red;

    box-shadow: $shadow-small;
    cursor: pointer;

    transition: background-color 0.1s;

    // &.instagram {
    //   background-color: #405de6;
    // }
    // &.linkedin {
    //   background-color: #0077b5;
    // }
    // &.facebook {
    //   background-color: #4267b2;
    // }
    // &.whatsapp {
    //   background-color: #25d366;
    // }
    // &.github {
    //   background-color: #2b3137;
    // }

    @each $key, $value in $social-colors {
      &.#{$key} {
        background-color: $value;
      }

      &.#{$key}:hover {
        background-color: lighten($value, 10);
      }
    }
  }
}

#contact-details {
  @include flex(column, 1rem, center, flex-start);
  grid-column: 1/-1;
}

#contact-form {
  max-width: 80ch;

  & .form-field {
    margin-bottom: 0.75rem;
  }

  & .form-btn-group button {
    margin-left: auto;
  }
}

@media screen and (min-width: $media-tablet-width) {
  #contact-details {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (min-width: $media-desktop-width) {
  #contact-section {
    row-gap: 1rem;
  }
}
