<section id="contact-section" class="layout">
  <h3 class="navigate-header">Contact Me</h3>
  <div id="social-media-container">
    <div id="outro-container">
      <h4 class="outro-text">Hope to meet you, someday...</h4>
    </div>
    <div id="social-medias">
      <div
        class="social-link-icon"
        [id]="social.socialMedia + '-' + 'link'"
        *ngFor="let social of me.socialMedias"
      >
        <img [src]="social.icon" alt="" />
      </div>
    </div>
  </div>
  <div id="contact-form-wrapper">
    <form id="contact-form" autocomplete="off" [formGroup]="contactForm">
      <div class="form-field wrap">
        <div class="input-wrapper">
          <input
            type="text"
            name="name"
            placeholder="Subject"
            autocomplete="off"
            formControlName="name"
            [attr.error]="
              getIfFieldTouched('name') && checkIfFieldHasError('name')
            "
            aria-autocomplete="none"
          />
        </div>
        <span
          class="input-error"
          *ngIf="getIfFieldTouched('name') && checkIfFieldHasError('name')"
          >{{ getNameErrorMessage() }}</span
        >
      </div>
      <div class="form-field wrap">
        <div class="input-wrapper">
          <input
            autocomplete="off"
            aria-autocomplete="none"
            type="email"
            name="email"
            placeholder="Email"
            formControlName="email"
            [attr.error]="
              getIfFieldTouched('email') && checkIfFieldHasError('email')
            "
          />
        </div>
        <span
          class="input-error"
          *ngIf="getIfFieldTouched('email') && checkIfFieldHasError('email')"
          >{{ getEmailErrorMessage() }}</span
        >
      </div>
      <div class="form-field">
        <div class="input-wrapper">
          <textarea
            name="body"
            placeholder="Message"
            formControlName="subject"
            autocomplete="off"
            aria-autocomplete="none"
            [attr.error]="
              getIfFieldTouched('subject') && checkIfFieldHasError('subject')
            "
          ></textarea>
        </div>
        <span
          class="input-error"
          *ngIf="
            getIfFieldTouched('subject') && checkIfFieldHasError('subject')
          "
          >{{ getSubjectErrorMessage() }}</span
        >
      </div>
      <a id="mailer" #mailer href="">Deneme</a>
      <button
        id="contact-form-submit"
        type="submit"
        form="contact-form"
        class="color-button"
        (click)="submitForm($event)"
      >
        Submit
      </button>
    </form>
  </div>
</section>
