<section id="contact-section">
  <shared heading headerText="Contact" class="section-header">
    <ils dial slot="icon"></ils>
  </shared>
  <div id="outro-holder">
    <div class="content">
      <h1 class="text-lg">Goodbye, until we meet again...</h1>
      <p class="text-bs">
        {{ me.outro }}
      </p>
    </div>
    <div class="social-link-container">
      @for (social of me.socialMedias; track $index) {
      <a [href]="social.url" target="_blank">
        <div [class]="'social-link-item ' + social.socialMedia.toLowerCase()">
          <img class="social-icon" [src]="social.icon" alt="" />
        </div>
      </a>
      }
    </div>
  </div>
  <div id="contact-details">
    <div class="personal-info-container">
      <div class="info-item-container">
        <div class="info-shape"></div>
        <h4 class="text-md info-text wieght-600">Contact Form</h4>
      </div>
      <form id="contact-form" [formGroup]="contactForm">
        <div
          class="form-field"
          [attr.error]="
            contactForm.controls['subject'].invalid &&
            (contactForm.controls['subject'].touched ||
              contactForm.controls['subject'].dirty ||
              isSubmitted)
          "
        >
          <div>
            @if (contactForm.controls['subject'].invalid &&
            (contactForm.controls['subject'].touched ||
            contactForm.controls['subject'].dirty || isSubmitted)) {

            <span
              class="form-field-error"
              *ngIf="contactForm.controls['subject'].invalid"
              >Should not be empty</span
            >
            }
          </div>
          <input
            type="text"
            name="subject"
            placeholder="Subject"
            formControlName="subject"
          />
        </div>
        <div
          class="form-field"
          [attr.error]="
            contactForm.controls['email'].invalid &&
            (contactForm.controls['email'].touched ||
              contactForm.controls['email'].dirty ||
              isSubmitted)
          "
        >
          <div>
            @if (contactForm.controls['email'].invalid &&
            (contactForm.controls['email'].touched ||
            contactForm.controls['email'].dirty || isSubmitted)) {
            @if(contactForm.controls['email'].errors?.['required']){
            <span class="form-field-error">Email cannot be empty</span>
            } @if (contactForm.controls['email'].errors?.['email']) {
            <span class="form-field-error">Invalid email format </span>
            } }
          </div>
          <input
            type="email"
            name="email"
            placeholder="Email"
            formControlName="email"
          />
        </div>
        <div
          class="form-field"
          [attr.error]="
            contactForm.controls['message'].invalid &&
            (contactForm.controls['message'].touched ||
              contactForm.controls['message'].dirty ||
              isSubmitted)
          "
        >
          <div
            *ngIf="
              contactForm.controls['message'].invalid &&
              (contactForm.controls['message'].touched ||
                contactForm.controls['message'].dirty ||
                isSubmitted)
            "
          >
            <span class="form-field-error">Message cannot be empty</span>
          </div>
          <textarea
            name="message"
            placeholder="Message"
            formControlName="message"
          ></textarea>
        </div>
        <div class="form-btn-group">
          <button class="btn btn-small btn-green" (click)="submitForm()">
            <div class="btn-text">Submit</div>
          </button>
        </div>
      </form>
    </div>
    <div class="personal-info-container">
      <div class="info-item-container">
        <div class="info-shape"></div>
        <h4 class="text-md info-text wieght-600">Contact Details</h4>
      </div>
      <ul class="info-list-container">
        @for (contactItem of me.contactDetails; track $index) {

        <li class="info-item-container outlined">
          <div class="info-shape"></div>
          <h4 class="text-bs weight-400 info-text">{{ contactItem }}</h4>
        </li>
        }
      </ul>
    </div>
  </div>
</section>
