@import "util.style";
@import "root.style";
@import "shared.style";

:host {
  grid-column: 1/-1;
}

#contact-section {
  @include grid(subgrid, 0);
}

#outro-holder {
  display: block;
  grid-column: 1/-1;
  @include flex(column, 0.875rem, flex-start, flex-start);
  margin-bottom: 1rem;

  & .content {
    max-width: 80ch;
  }
}

.social-link-container {
  @include flex(row, 1rem, center, flex-start);
  width: 100%;

  & .social-link-item {
    @include flex(row, 1rem, center, center);
    border-radius: 50%;
    padding: 15px;
    background-color: red;

    box-shadow: $shadow-small;

    &.instagram {
      background-color: #405de6;
    }
    &.linkedin {
      background-color: #0077b5;
    }
    &.facebook {
      background-color: #4267b2;
    }
    &.whatsapp {
      background-color: #25d366;
    }
    &.github {
      background-color: #2b3137;
    }
  }
}

#contact-details {
  @include flex(column, 1rem, center, flex-start);
}

#contact-form {
  max-width: 80ch;
}
