@import "root.style";
@import "util.style";

button,
.btn {
  @include reset;
  @include flex(row, 0, center, center);

  position: relative;

  font-size: $base-font-size * 1.05;
  font-weight: 500;
  color: lighten($text-white, 15);

  width: fit-content;

  background-color: $base-blue;

  border-radius: 6px;

  cursor: pointer;

  transition: background-color 0.1s;

  box-shadow: $shadow-small;
  overflow: hidden;

  & .btn-icon-container {
    @include flex(row, 0, center, center);
    position: relative;
    height: 100%;
    width: 25px;
    padding: 6px;
    background-color: $black-tint-1;
    transition: background-color 0.1s;
  }

  & .btn-text {
    padding: 0.5ch 0.75ch;
    position: relative;
  }

  &.btn-large {
    font-size: $base-font-size * 1.23;
  }

  &.btn-medium {
    font-size: $base-font-size * 1.15;
  }

  &.btn-green {
    background-color: $base-green;
  }
}

.cta-btn {
  & .btn-icon-container {
    width: 30px;
  }

  & .btn-text {
    padding: 0.25ch 0.5ch;
    font-weight: 700;
  }
}

@media (hover: hover) {
  button:hover {
    background-color: $blue-tint-1;

    & .btn-icon-container {
      background-color: $black-tint-2;
    }
  }

  button:active {
    background-color: $blue-tint-2;
    & .btn-icon-container {
      background-color: $black-tint-3;
    }
  }

  button.btn-green:hover {
    background-color: $green-tint-1;
  }

  button.btn-green:active {
    background-color: $green-tint-2;
  }
}

@media (hover: none) {
  button:active {
    background-color: $blue-tint-2;
  }
}
