@import "reset.style.scss";
@import "root.style.scss";
@import "typography.style.scss";

html {
  width: 100%;

  height: auto;

  background-image: url(../assets/background.png);
  background-size: contain;
  background-repeat: repeat;

  background-color: $base-white;

  overflow: auto;

  scroll-padding-top: 30px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  min-width: 360px;
  max-width: 1250px;
  margin-inline: auto;
}

section {
  margin-bottom: 1rem;
}

*::selection {
  background-color: $tomato;
  color: $white-shade-1;
}

@media screen and (min-width: $media-mobile-width) {
  html {
    scroll-padding-top: 80px;
  }
}
