$tomato: #fc5b2f;
$base-green: #4ab305;
$green-tint-1: #5cbb1e;
$green-tint-2: #6ec237;

$base-blue: #5431ff;
$blue-tint-1: #765aff;
$blue-tint-2: #9883ff;
$blue-tint-3: #bbadff;
$blue-tint-4: #ddd6ff;

$base-orange: #f9a620;
$orange-tint-1: #fab84d;
$orange-tint-2: #fbca79;
$orange-tint-3: #fbca79;
$orange-tint-4: #fbca79;

$base-red: #ff152c;
$red-tint-1: #ff4456;
$red-tint-2: #ff7380;
$red-tint-3: #ffa1ab;
$red-tint-4: #ffd0d5;

$base-black: #282222;
$black-tint-1: #3a3434;
$black-tint-2: #867272;
$black-tint-3: #999999;
$black-tint-4: #cccccc;

$base-white: #e8e8e8;
$white-tint-1: #ededed;
$white-tint-2: #f1f1f1;
$white-tint-3: #f6f6f6;
$white-tint-4: #fafafa;
$white-shade-1: #d1d1d1;
$white-shade-2: #bababa;
$white-shade-3: #a2a2a2;

$text-black: #2e2727;
$text-white: #e8e8e8;

/* Effect styles */
$shadow-large: 4px 4px 4px rgba(0, 0, 0, 0.5);
$shadow-medium: 3px 3px 4px rgba(0, 0, 0, 0.4);
$shadow-small: 2px 2px 2px rgba(0, 0, 0, 0.3);

$default-radius: 10px;
$base-font-size: 17px;
