@mixin flex($direction: column, $gap: 1rem, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

@mixin grid($grid-column: repeat(4, 1fr), $padding-inline: 10px) {
  display: grid;
  grid-template-columns: $grid-column;
  column-gap: 20px;

  padding-inline: $padding-inline;
  // row-gap: 20px;
}

@function pow($base, $exponent) {
  $result: 1;
  @for $i from 1 through $exponent {
    $result: $result * $base;
  }
  @return $result;
}

@mixin reset {
  appearance: none;
  outline: transparent;
  border: none;
}

@mixin button-interaction($selector, $hover-color, $active-color) {
  @media (hover: hover) {
    #{$selector}:hover {
      background-color: $hover-color;
    }

    #{$selector}:active {
      background-color: $active-color;
    }
  }

  @media (hover: none) {
    #{$selector}:active {
      background-color: $active-color;
    }
  }
}

@mixin user-select-none() {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
