@import "util.style";

:host {
  @include grid(subgrid, 0);
  grid-column: 1/-1;
  height: fit-content;
}

#landing-section {
  @include grid(subgrid, 0);
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  padding-top: 10px;
}

#landing-section .landing-text-group {
  grid-column: 1/-1;
  margin-bottom: 2rem;
}

.landing-text-group .display-heading:nth-child(2) {
  margin-bottom: 0.5rem;
}
