<section id="landing-section">
  <div class="landing-text-group">
    <h1 class="text-xl">Hi, I'm samet! I craft user-friendly websites</h1>
    <h1 class="text-xl">Together, let's build something great</h1>
    <p class="text-md">
      Hi, I'm Samet, a web developer passionate about user-friendly websites.
      Seeking a full-time role at a forward-thinking company to work on
      long-term projects. Let's connect and create something amazing together!
    </p>
    <button>My Profile</button>
  </div>
  <illustartion></illustartion>
</section>
