<section id="landing-section">
  <div class="landing-text-group">
    <div>
      <h1 class="text-xl">
        {{
          "landingText_1" | translate : { name: dataService.personalData.name }
        }}
      </h1>
      <h1 class="text-xl">
        {{ "landingText_2" | translate }}
      </h1>
    </div>
    <p class="text-md">
      {{
        "landingSubtext" | translate : { name: dataService.personalData.name }
      }}
    </p>
    <a
      [href]="dataService.personalData.socialMedias[1].url"
      target="_blank"
      class="btn cta-btn btn-large"
    >
      <div class="btn-icon-container">
        <img src="assets/svg/social/linkedin.svg" alt="" />
      </div>
      <span class="btn-text wieght-900">{{
        "landingButtonText" | translate
      }}</span>
    </a>
  </div>
  <div class="illustration-container"></div>
</section>
