/* @font-face {
  font-family: "Uber Move";
  src: url(assets/fonts/UberMoveBold.otf) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Uber Move";
  src: url(assets/fonts/UberMoveMedium.otf) format("truetype");
  font-style: normal;
  font-weight: normal;
} */
