/* .h1 {
  font-size: 3.815rem;
}

.h2 {
  font-size: 3.052rem;
}

.h3 {
  font-size: 2.441rem;
}

.h4 {
  font-size: 1.953rem;
}

.h5 {
  font-size: 1.563rem;
}

.h6 {
  font-size: 1.25rem;
}

.p {
  font-size: 1rem;
}

.small-1 {
  font-size: 0.8rem;
}

.small-1 {
  font-size: 0.64rem;
} */

.display-text {
  font-family: var(--font-face-2);
  font-size: 28px;
  line-height: 1.2;
  color: var(--white);
}

.display-complementary-text {
  color: var(--gray-300);
  font-family: var(--font-face-2);
  font-size: 22px;
  line-height: 1.42;
  font-weight: 600;
}

.display-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray-300);
}

.navigate-header {
  font-size: 28px;
  color: var(--gray-200);
  font-weight: 500;
}

.heading {
  font-size: 26px;
  line-height: 1.3;
  color: var(--gray-200);
}

.paragraph {
  font-size: 18px;
  line-height: 1.5;
  color: var(--gray-300);
}

.skill-text {
  color: var(--white);
  font-size: 18px;
}

.label-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-400);
}

@media screen and (min-width: 576px) {
  .display-text {
    font-size: 34px;
  }

  .display-complementary-text {
    font-size: 26px;
  }

  .display-paragraph {
    font-size: 22px;
  }

  .navigate-header {
    font-size: 34px;
  }

  .heading {
    font-size: 30px;
  }

  .paragraph {
    font-size: 22px;
  }

  .label-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .display-text {
    font-size: 38px;
  }

  .display-complementary-text {
    font-size: 30px;
  }

  .display-paragraph {
    font-size: 24px;
  }

  .paragraph {
    font-size: 24px;
  }

  .navigate-header {
    font-size: 38px;
  }

  .heading {
    font-size: 34px;
  }

  .label-text {
    font-size: 22px;
  }

  .skill-text {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .display-text {
    font-size: 46px;
  }

  .display-complementary-text {
    font-size: 36px;
  }

  .display-paragraph {
    font-size: 28px;
  }

  .paragraph {
    font-size: 24px;
  }

  .navigate-header {
    font-size: 38px;
  }

  .heading {
    font-size: 34px;
  }

  .label-text {
    font-size: 22px;
  }

  .skill-text {
    font-size: 22px;
  }
}
