@import url("./styles/reset.css");
@import url("./styles/root.css");
@import url("./styles/typography.css");
@import url("./styles/anims.css");

@import url("./styles/button.styles.css");
@import url("./styles/input.styles.css");

html {
  width: 100%;
  height: auto;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: var(--dark-background);
  position: relative;
}

body:has(dialog[open="true"]) {
  overflow-y: hidden;
}
