:root {
  font-family: var(--font-face-1);
  font-size: 18px;
  color: var(--white);

  --font-face-1: "Work Sans", sans-serif;
  --font-face-2: "Uber Move";

  --primary-white: #ffffff;
  --primary-black: #000000;

  --dark-background: #121212;

  --input-background: #1a1a1a;

  --gray-600: #545454;
  --gray-500: #757575;
  --gray-400: #afafaf;
  --gray-300: #cfcfcf;
  --gray-200: #e2e2e2;
  --gray-100: #eeeeee;
  --gray-50: #f6f6f6;

  --secondary-blue: #276ff2;
  --secondary-red: #d44333;
  --secondary-orange: #ed6e33;
  --secondary-yellow: #ffc043;
  --secondary-green: #3aa76d;
  --secondary-purple: #7356bf;
  --secondary-brown: #99644c;

  --red-700: #5c1d16;
  --red-600: #892c21;
  --red-500: #ae372a;
  --red-400: #d44333;
  --red-300: #eb7567;
  --red-200: #f4afa7;
  --red-100: #fadbd7;
  --red-50: #fdf0ef;

  --orange-700: #5f2c14;
  --orange-600: #8e421f;
  --orange-500: #b45427;
  --orange-400: #ed6e33;
  --orange-300: #f19164;
  --orange-200: #f7bfa5;
  --orange-100: #fbe2d6;
  --orange-50: #fef3ef;

  --green-700: #1c472f;
  --green-600: #2b6b46;
  --green-500: #368759;
  --green-400: #3aa76d;
  --green-300: #73c496;
  --green-200: #aeddc2;
  --green-100: #daf0e3;
  --green-50: #f0f9f4;

  --blue-700: #102c60;
  --blue-600: #174291;
  --blue-500: #1e54b7;
  --blue-400: #276ef1;
  --blue-300: #5b91f4;
  --blue-200: #a0bff9;
  --blue-100: #d4e2fc;
  --blue-50: #eef3fe;

  --purple-700: #2e224c;
  --purple-600: #453473;
  --purple-500: #574191;
  --purple-400: #7356bf;
  --purple-300: #957fce;
  --purple-200: #c1b5e3;
  --purple-100: #e3ddf2;
  --purple-50: #f4f1fa;

  --yellow-700: #664d1b;
  --yellow-600: #997328;
  --yellow-500: #bc8b2c;
  --yellow-400: #ffc043;
  --yellow-300: #ffcf70;
  --yellow-200: #ffe3ac;
  --yellow-100: #fff2d9;
  --yellow-50: #fffaf0;

  --brown-700: #3d281e;
  --brown-600: #5c3c2e;
  --brown-500: #744c3a;
  --brown-400: #99644c;
  --brown-300: #b18977;
  --brown-200: #d2bbb0;
  --brown-100: #ebe0db;
  --brown-50: #f7f3f1;

  --gray-700: #333333;
  --gray-600: #545454;
  --gray-500: #757575;
  --gray-400: #afafaf;
  --gray-300: #cbcbcb;
  --gray-200: #e2e2e2;
  --gray-100: #eeeeee;
  --gray-50: #f6f6f6;

  --white: #ffffff;
  --black: #000000;

  --accent-red: #ff1900;
  --accent-green: #00b253;
  --accent-blue: #005aff;
  --accent-orange: #ff5100;
  --accent-purple: #4600ff;
  --accent-brown: #b5651d;

  --near-east: #d93933;
  --html: #d93933;
  --css: #264de4;
  --typescript: #007acc;
  --nodejs: #6cc24a;
  --nestjs: #ff0000;
  --reactjs: #61dbfb;
  --mysql: #00758f;
  --figma: #0acf83;
  --typeorm: #fe0200;
  --sequelize: #2379bd;

  --tablet-width: 768px;

  --area-item-border-color: rgba(0, 90, 255, 0.7);
  --selected-color: var(--selected, var(--accent-blue));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 30px;
}

html {
  width: 100%;
  height: auto;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: var(--dark-background);
  position: relative;
}

body:has(dialog[open="true"]) {
  overflow-y: hidden;
}

body:has(.navbar-inner.sidebar-open) {
  /* overflow: hidden; */
}
button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin-block: 1.5rem;
  width: 100% !important;
}

section[personal] {
  background-color: red;
}

ul,
li {
  list-style: none;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  padding-inline: 16px;
}

button,
a.btn {
  position: relative;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: none !important;
  font-size: 0.875rem;
  font-weight: 500;
  width: fit-content;
  padding-inline: 1.5ch;
  padding-block: 1ch;
  border-radius: 2px;
  border: 2px solid var(--gray-100);
  color: var(--black);
  overflow: hidden;
  background-color: var(--white);
  transition-property: color, background-color, transform;
  transition-duration: 0.3s, 0.2s, 0.1s;
  transition-timing-function: ease-in-out;
}

button.color-button,
a.color-button {
  background-color: var(--selected-color);
  color: seashell;
}

@media (hover: hover) and (pointer: coarse) {
  button.fixed-button:active,
  a.fixed-button:active,
  button.color-button:active,
  a.color-button:active {
    transform: scale(1.05);
  }
}

@media (hover: hover) and (pointer: fine) {
  button,
  a.btn {
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition: transform 0.1s, background-color 0.1s, outline 0.1s;
  }

  button.fixed-button:hover,
  a.fixed-button:hover {
    outline-color: var(--gray-50);
    background-color: var(--gray-200);
  }

  button.color-button:hover,
  a.color-button:hover {
    outline-color: var(--area-item-border-color);
  }

  button.fixed-button:active,
  a.fixed-button:active,
  button.color-button:active,
  a.color-button:active {
    transform: scale(1.05);
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  appearance: none;
  border: none;
  outline: none;
  padding: 1ch;
  border-radius: 2px;
  background-color: var(--input-background);
  caret-color: var(--white);
  font-size: 1em;
  color: var(--gray-200);
  position: relative;
}

textarea {
  appearance: none;
  border: none;
  outline: none;
  padding: 1ch;
  border-radius: 2px;
  background-color: var(--input-background);
  caret-color: var(--white);
  font-size: 1em;
  color: var(--gray-200);
  font-family: var(--font-face-1);
  resize: vertical;
  min-height: 120px;
}

@media screen and (min-width: 576px) {
  .layout {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 18px;
  }

  section:not(#personal-section),
  .section-inner {
    max-width: 540px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 768px) {
  section {
    margin-block: 2rem;
  }

  .layout {
    grid-template-columns: repeat(8, 1fr);
    row-gap: 36px;
  }

  section:not(#personal-section),
  .section-inner {
    max-width: 820px;
    margin-inline: auto;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .layout {
    /* padding-inline: 36px; */
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
  }

  section:not(#personal-section),
  .section-inner {
    max-width: 1200px;
    margin-inline: auto;
  }
}

.display-text {
  font-size: 1.8em;
  line-height: 1.5;
}

.display-subtext {
  font-size: 1em;
  color: var(--gray-100);
  line-height: 1.4;
}

.skill-text {
  font-size: 0.95em;
}

h1,
.text-size-h1 {
  font-size: 2.49em;
}

h2,
.text-size-h2 {
  font-size: 2.07em;
}

h3,
.text-size-h3 {
  font-size: 1.73em;
}

h4,
.text-size-h4 {
  font-size: 1.44em;
}

h5,
.text-size-h5 {
  font-size: 1.2em;
}

.text-caption {
  font-size: 0.83em;
}

p {
  font-size: 1em;
  color: var(--gray-300);
}

small,
.text-small-1 {
  font-size: 0.8em;
}

.text-small-2 {
  font-size: 0.69em;
}

.navigate-header {
  font-size: 1.6em;
  text-align: center;
  color: var(--gray-400);
}

.navigation-item {
  font-size: 1.25em;
  font-weight: 500;
  color: var(--gray-50);
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-label {
  font-size: 1.05em;
}

/* * > :has(.left-to-appear-anim) {
  overflow: hidden;
} */

.left-to-appear-anim,
.right-to-appear-anim,
.top-to-appear-anim {
  opacity: 0;
  overflow: hidden;
  position: relative;
  animation-timing-function: ease;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.left-to-appear-anim {
  animation-name: left-to-appear;
}

.right-to-appear-anim {
  animation-name: right-to-appear;
}

.top-to-appear-anim {
  animation-name: top-to-appear;
}

.left-to-appear-anim + .top-to-appear-anim,
.left-to-appear-anim + .right-to-appear-anim,
.top-to-appear-anim + .left-to-appear-anim,
.top-to-appear-anim + .right-to-appear-anim,
.right-to-appear-anim + .left-to-appear-anim,
.right-to-appear-anim + .top-to-appear-anim {
  animation-delay: 0.8s;
}

.left-to-appear-anim + .left-to-appear-anim {
  animation-delay: 0.2s;
}

@keyframes left-to-appear {
  0% {
    opacity: 0;
    left: -100%;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes right-to-appear {
  0% {
    opacity: 0;
    right: -100%;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes top-to-appear {
  0% {
    opacity: 0;
    top: -100%;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}
